*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{   
--Darkcyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Darkgrayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: var(--Cream);
}

img{
    width: 17.0rem;
    border-radius: 1.0rem 0 0 1.0rem;
}

.content header{
    width: 35.0rem;
    background-color: var(--White);
    display: flex;
    border-radius: 1.0rem;
}


.text-principal .text{
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    color: var(--Darkgrayish-blue);
    padding: 1.5rem 2.0rem;
    font-family: 'Montserrat', sans-serif;
}

h1{
    padding-left:2.0rem
    
}

p{
    font-family: 'Montserrat', sans-serif;
}

