*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{   
--Darkcyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Darkgrayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}


p{
    font-family: 'Montserrat', sans-serif;
}

